.services-section .row {
    margin-top: 8rem;
}

h2{
    padding: 2rem 0;
}

p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }




.image-container{
    width: 20rem;
    /* box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3); */
    /* background-color: rebeccapurple; */
}

.image-container img{
    width: 100%;
}

.service-info-right{
    text-align: right;
}
/* 
.our-services{
    border: 1px solid black;
} */

/* .cateres{
 border: 1px solid black;
 position: relative;
 right: 0;

}

.florist{
 border: 1px solid black;
}

.decor{
 border: 1px solid black;
}

.staffing{

}

.makeup{

}

.photography{

}

.wedding{

}

.molvi{

}

.dress{

} */

/* 

.services-image-container{
        width: 20rem;
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.services-image{
 width: 100%;
 vertical-align: top;
}

.services-info{
    width: 70%;
    text-align: right;
    padding: 0.9rem;
} */





  /* @media (min-width: 40rem) {
      .services-section {
          margin: 3rem auto;
          max-width: 1500px;
          display: flex;
          align-items: center;
          justify-content: space-around;
      }

      .services-image-container {
          display: inline-block;
          vertical-align: middle;
          width: 66%;
      }

      .services-info {
          width: 30%;
      }

  } */